.heading{
background-color: #000000;
color: #ff0000;
font-size: 35px;
text-align: center;
}

body{
    background-color: black;
    
}
.food{
    margin: 60px 160px
}

.list{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    height: auto;
    width: 125px;
    

}

.one{
background-color: hsl(10, 100%, 70%);
box-sizing: border-box;



}

.two{
background-color: #00ff00;
margin-left: 10px;

}

.three{
    background-color: #f5f5dc;
    margin-left: 40px;


}